---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import ProblemSolution from '../components/ProblemSolution.astro'
import MentorSection from '../components/MentorSection.astro'
import AdvantagesSection from '../components/AdvantagesSection.astro'
import ResultsSection from '../components/ResultsSection.astro'
import Features from '../components/Features.astro'
import HowItWorks from '../components/HowItWorks.astro'
import CodeTrainer from '../components/CodeTrainer.astro'
import Gamification from '../components/Gamification.astro'
import Automation from '../components/Automation.astro'
import TechAdvantages from '../components/TechAdvantages.astro'
import ContactCTA from '../components/ContactCTA.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <ProblemSolution />
    <MentorSection />
    <AdvantagesSection />
    <ResultsSection />
    <Features />
    <HowItWorks />
    <CodeTrainer />
    <Gamification />
    <Automation />
    <TechAdvantages />
    <ContactCTA />
  </main>
  <Footer />
</Layout>
